[submodule "src/common"]
	path = src/common
	url = https://github.com/Kaminate/tac-core
[submodule "src/game-weekendtrace"]
	path = src/game-weekendtrace
	url = https://github.com/Kaminate/weekendtrace
[submodule "src/game-pbrt"]
	path = src/game-pbrt
	url = https://github.com/Kaminate/tac-pbrt

