build*/
x64/
*/__pycache__/*
CMakeFiles/
*/CMakeFiles/*

assets/imgui.ini

# renderdoc captures
*.cap

# vim temporary files
*.swp


# macOS Finder metadata
*.DS_Store

*.rdc

deleteme.bmp

cloc_found.txt
cloc_ignored.txt
src/creation/CMakeLists.txt
tac_help.txt
